* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(44, 39, 39);
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-align {
    min-height: 20rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.timer-inputs {
    display: flex;
    gap: 2rem;
}

.timer-info-container {
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 48em) {
    .timer-inputs {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 29em) {
    .timer-inputs #input-time {
        width: 80%;
    }
}
